/* +---------------------+ */
/* |   General styling   | */
/* +---------------------+ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 400 1.6rem/1 sans-serif;
  color: hsl(0, 0%, 8%);
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* +---------------------+ */
/* |   Reusable styles   | */
/* +---------------------+ */

.cta:is(:link, :visited) {
  display: inline-block;

  padding: 1.2rem 2.4rem;

  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s;
}

.cta--full:is(:link, :visited) {
  color: #fff;
  background: hsl(0, 0%, 8%);
  font-weight: 600;
}

.cta--full:hover {
  color: hsl(0, 0%, 8%);
  background: #fff;
  box-shadow: 0 0 2px hsl(0, 0%, 8%);
}

.cta--outline:is(:link, :visited) {
  border: 1px solid hsl(0, 0%, 41%);
}

.cta--outline:hover {
  color: #fff !important;
  background: hsl(0, 0%, 8%);
}

.margin-bottom-md {
  margin-bottom: 6.4rem;
}

/* +------------+ */
/* |   Header   | */
/* +------------+ */

.main-header {
  display: flex;
  align-items: center;
  gap: 4.8rem;

  padding: 2.4rem 4.8rem;
  margin-bottom: 6.4rem;
}

.header-dropdowns {
  margin-right: auto;
}

.header-dropdowns :is(.dropdown:not(:first-child), .header-link) {
  margin-left: -1.4rem;
}

.header-dropdowns,
.main-nav {
  display: flex;
}

.header-dropdowns {
  gap: 1.6rem;
}

.main-nav {
  gap: 3.2rem;
}

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown--open .dropdown-content {
  display: flex;
}

.dropdown-icon:nth-child(2) {
  display: none;
}

.dropdown--open .dropdown-toggle .dropdown-icon:nth-child(1) {
  display: none;
}

.dropdown--open .dropdown-toggle .dropdown-icon:nth-child(2) {
  display: block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 20%;

  display: none;
  flex-direction: column;
  gap: 1.6rem;

  padding: 2.4rem;
  width: max-content;

  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
}

.dropdown-toggle,
.header-link:is(:link, :visited) {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  padding: 1.2rem;

  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

.dropdown-toggle:hover,
.header-link:hover {
  color: hsl(0, 0%, 8%);
}

.dropdown-toggle:hover {
  cursor: pointer;
}

/* +----------+ */
/* |   Main   | */
/* +----------+ */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;

  padding: 0 9.6rem;
}

.main-heading {
  font-size: 6.4rem;
  margin-bottom: 4.8rem;
}

.main-text {
  color: hsl(0, 0%, 41%);
  font-size: 1.6rem;
  line-height: 1.8;

  margin-bottom: 3.2rem;
  padding-right: 6.4rem;
}

.logos {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-img {
  max-width: 80%;
}
